.App {
  padding: 20px;
  width: 20%;
}

.line-item {
  width: 350px;
  margin-top: 10px;
  display: block;
}

.product {
  margin-right: 20px;
}

.btn-submit {
  margin-top: 10px;
}

.total-per-item {
  float: right;
}
.mt-5 {
  margin-top: 15px;
}

.mb-5 {
  margin-bottom: 15px;
}